<nav class="navbar navbar-expand-lg sticky-top bg-white shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Perpustakaan</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link py-1 px-3 border rounded-sm me-2" aria-current="page" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1 px-3 border rounded-sm me-2" aria-current="page" href="/books">Buku</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1 px-3 border rounded-sm me-2" aria-current="page" href="/customers">Pelanggan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1 px-3 border rounded-sm me-2" aria-current="page" href="/loans">Peminjaman</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1 px-3 border rounded-sm" href="/logout">Logout</a>
            </li>
        </ul>
        <!-- <div class="navbar-nav">
            <a class="nav-link px-3 border" href="/logout">Logout</a>
        </div> -->
    </div>
</nav>
